%h1= @candidate.name

.bio
  Candidate for
  %span.office= @candidate.office.name

%table#buys
%script="window.buys = new POV.models.Buys(); buy_table = new POV.views.BuyTable({el: '#buys', collection: buys}); buys.fetch({url: '/candidates/#{@candidate.id}/spending.json'})"
  
