%form{:method=>"POST", :action=> "http://#{credentials.join(":")}@#{AdVault::HOSTNAME}/committees/#{@committee.slug}"}
  %label
    Name:
    %input{:name => "name", :value => @committee.name}
  %label
    Website:
    %input{:name=> "url", :value => @committee.url}
  %label
    Description:
    %textarea{:name => "description"}
  %input(type="submit")