%form{:method=>"POST", :action=> "http://#{credentials.join(":")}@#{AdVault::HOSTNAME}/offices/#{@office.slug}"}
  %label
    Name:
    %input{:name => "name", :value => @office.name}
  %label
    Description:
    %textarea{:name => "description", :cols => 60, :rows => 20}= @office.description
  %input(type="submit")