%html
  %head
    %link(href='http://fonts.googleapis.com/css?family=Alegreya:400italic,400,700|Alegreya+SC' rel='stylesheet' type='text/css')
    %link(type="text/css" rel="stylesheet" media="screen" href="/assets/mockup.css")
    %script(type="text/javascript") var submitted=false;
    %style
      background { background: #EFF3FD; }
  %body
    .followup
      If you'd like to share more of your perspective with us, you can by heading to 
      %a(target="_blank" href="http://www.publicinsightnetwork.org/form/midmissouri/bfd4806a0ba1/share-your-perspective-on-this-election-season") our community survey.
