%html
  %head
    %title= "{Title}"
    %link(href='http://fonts.googleapis.com/css?family=Alegreya:400italic,400,700|Alegreya+SC' rel='stylesheet' type='text/css')
    %link(type="text/css" rel="stylesheet" media="screen" href="/assets/mockup.css")
  %body
    %div#layout
      %div#header
        %h1 Project OpenVault
        %p 800
        %p $300, 000

      %div#interactives

      %div#main
        %h2 Election News &amp; Analysis

      %div#side-bar
        %h2 Let Us Know

        %h2
          Twitter
          %span #midmovotes
