%html
  %head
    %title= "{Title}"
    %link(href='http://fonts.googleapis.com/css?family=Alegreya:400italic,400,700|Alegreya+SC' rel='stylesheet' type='text/css')
    %link(type="text/css" rel="stylesheet" media="screen" href="/assets/mockup.css")
    %script(charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js")
  %body
    %div#layout
      %div#header
        %h1 Project OpenVault
        #aggregate
          %dl
            %dd 800
            %dt Minutes of Ads
            %dd $300, 000
            %dt Spent

      %div#interactives

      %div#main
        %h2 Election News &amp; Analysis

        .post
          %h3 St. Louis judge blocks Missouri Senate candidate's bid
          %p#meta 2 days, 5 minutes ago
          %p#meta Wednesday, May 16, 2012 | 6:50 p.m. CDT

          %p JEFFERSON CITY — A state Senate candidate from St. Louis plans to fight a judge's decision removing her from the ballot because she doesn't live in the district.

          %p Missouri House member Jamilah Nasheed has filed to challenge Sen. Robin Wright-Jones in the Democratic primary from the 5th Senate District.

          %p The 5th District was redrawn this year to take in part of the 4th District, though not the area where Nasheed lives. But Nasheed argues that because part of the 4th District was affected, she should be able to run in the 5th District.

          %p The St. Louis Post-Dispatch reported that St. Louis Circuit Judge Joan Moriarty rejected that argument Wednesday. The judge said Nasheed's reasoning could allow candidates to run in multiple districts.

        {block:Posts}
        {block:Text}
        .post
          {block:Title}
          %h3
            %a(href="{Permalink}") {Title}
          %p#meta {TimeAgo}
          {/block:Title}
          {Body}
        {/block:Text}
        
        {block:Photo}
        .photo.post
          %img(src="{PhotoURL-500}" alt="{PhotoAlt}")
          {block:Caption}
          %p {Caption}
          {/block:Caption}	
        {/block:Photo}
        {block:Photoset}
        .photoset.post
          {Photoset-500}
          {block:Caption}
          .caption {Caption}
          {/block:Caption}
        {/block:Photoset}
        {block:Quote}
        .quote.post
          {Quote}
          {block:Source}
          #meta {Source}
          {/block:Source}
        {/block:Quote}
        {block:Link}
        .link.post
        {/block:Link}
        {block:Chat}
        .chat.post
        {/block:Chat}
        {block:Video}
        .video.post
        {/block:Video}
        {block:Audio}
        .audio.post
        {/block:Audio}
        {/block:Posts}


      %div#side-bar
        #question
          %h2 Let Us Know

        #twitter
          %h2
            Twitter
            %span #midmovotes
            %script                        
              new TWTR.Widget({            |
                version: 2,                |
                type: 'search',            |
                search: '#midmovotes',     |
                interval: 30000,           |
                title: '',                 |
                subject: '',               |
                width: 250,                |
                height: 300,               |
                theme: {                   |
                  shell: {                 |
                    background: '#8ec1da', |
                    color: '#ffffff'       |
                  },                       |
                  tweets: {                |
                    background: '#ffffff', |
                    color: '#444444',      |
                    links: '#1985b5'       |
                  }                        |
                },                         |
                features: {                |
                  scrollbar: false,        |
                  loop: true,              |
                  live: true,              |
                  behavior: 'default'      |
                }                          |
              }).render().start();

      %div#footer
        {block:Pagination}
        {block:PreviousPage}
        %a(href="{PreviousPage}") « Newer
        {/block:PreviousPage}
        {block:NextPage}
        %a(href="{NextPage}") Older »
        {/block:NextPage}
        {/block:Pagination}
        #colophon
          %p Copyright etc
