%html
  %head
    %link(href='http://fonts.googleapis.com/css?family=Alegreya:400italic,400,700|Alegreya+SC' rel='stylesheet' type='text/css')
    %link(type="text/css" rel="stylesheet" media="screen" href="/assets/mockup.css")
    %script(type="text/javascript") var submitted=false;
    %style
      background { background: #EFF3FD; }
  %body
    #question
      %iframe#ss-form{:name=>"ss-form", :style=>"display:none;", :onload=>"if(submitted){window.location='/question/#{@question.id}/followup';}"}>
      .hidden_iframe
        %form(action="https://docs.google.com/spreadsheet/formResponse?formkey=dFRscUdYTUNLUzZhRXA4UmFLb3VTdWc6MQ&amp;ifq" method="POST"
  target="ss-form" onsubmit="submitted=true;")
          .errorbox-good
            .ss-item.ss-paragraph-text
              .ss-form-entry
                %label.ss-q-title(for="entry_0")=@question.prompt
                %label.ss-q-help(for="entry_0")
                %textarea.ss-q-long#entry_0(name="entry.0.single" rows="8" cols="75")
          %input(type="hidden" name="pageNumber" value="0")
          %input(type="hidden" name="backupCache" value="")
          .ss-item.ss-navigate
            .ss-form-entry
              %input.submit(type="submit" name="submit" value="Submit")
        %script(type="text/javascript")
          (function() {                                               |
            var divs = document.getElementById('ss-form').            |
              getElementsByTagName('div');                            |
            var numDivs = divs.length;                                |
            for (var j = 0; j < numDivs; j++) {                       |
              if (divs[j].className == 'errorbox-bad') {              |
                divs[j].lastChild.firstChild.lastChild.focus();       |
                return;                                               |
              }                                                       |
            }                                                         |
            for (var i = 0; i < numDivs; i++) {                       |
              var div = divs[i];                                      |
              if (div.className == 'ss-form-entry' &&                 |
              div.firstChild &&                                       |
              div.firstChild.className == 'ss-q-title') {             |
                div.lastChild.focus();                                |
                return;                                               |
              }                                                       |
            }                                                         |
          })();
