%html
  %head
    %link(href='http://fonts.googleapis.com/css?family=Alegreya:400italic,400,700|Alegreya+SC' rel='stylesheet' type='text/css')
    %link(type="text/css" rel="stylesheet" media="screen" href="/assets/common.css")
    %script(type="text/javascript") var submitted=false;
    %style
      background { background: #EFF3FD; }
  %body
    #question
      %iframe#ss-form{:name=>"ss-form", :style=>"display:none;", :onload=>"if(submitted){window.location='/questions/#{@question.id}/followup';}"}>
      .hidden_iframe
        %form{ :action=>"https://docs.google.com/a/knowtheory.net/spreadsheet/formResponse?formkey=dDNGckJnZ2l1N2RhZ1Y5UEhuX2VpaFE6MQ&amp;embedded=true&amp;ifq", :method=>"POST", :target=>"ss-form", :onsubmit=>"submitted=true;" }
          .errorbox-good
            %input{:type=>"text", :name=>"entry.0.single", :value=>"#{@question.prompt}", :class=>"ss-q-short", :id=>"entry_0", :style=>"display:none"}
            .ss-item.ss-paragraph-text
              %label.ss-q-title(for="entry_1")
                =@question.prompt
                %textarea(name="entry.1.single" rows="8" cols="75" class="ss-q-long" id="entry_1")
            
          %input(type="hidden" name="pageNumber" value="0")
          %input(type="hidden" name="backupCache" value="")
          .ss-item.ss-navigate
            .ss-form-entry
              %input.submit(type="submit" name="submit" value="Submit")
        %script(type="text/javascript")
          (function() {                                               |
            var divs = document.getElementById('ss-form').            |
              getElementsByTagName('div');                            |
            var numDivs = divs.length;                                |
            for (var j = 0; j < numDivs; j++) {                       |
              if (divs[j].className == 'errorbox-bad') {              |
                divs[j].lastChild.firstChild.lastChild.focus();       |
                return;                                               |
              }                                                       |
            }                                                         |
            for (var i = 0; i < numDivs; i++) {                       |
              var div = divs[i];                                      |
              if (div.className == 'ss-form-entry' &&                 |
              div.firstChild &&                                       |
              div.firstChild.className == 'ss-q-title') {             |
                div.lastChild.focus();                                |
                return;                                               |
              }                                                       |
            }                                                         |
          })();
