
%html
  %head
    %script
      (function() {																																																|
        var cx = '017540231442163185513:c4m2rs_3xke';																															|
        var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;						|
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +																|
            '//www.google.com/cse/cse.js?cx=' + cx;																																|
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);										|
      })();																																																				|

%body
  #search
    %gcse:searchresults