.navigation
  .pages
    %a(href="") « Newer
    …
    %a.jump_page(href="") 1
    %span.current_page 2
    %a.jump_page(href="") 3
    %a.jump_page(href="") 4
    %a.jump_page(href="") 5
    %a.jump_page(href="") 6
    %a.jump_page(href="") 7
    …
    %a(href="") Older »
%gcse:searchbox-only
  
.post
  %h3
    %a(href="{Permalink}") St. Louis judge blocks Missouri Senate candidate's bid

    %p.meta 2 days, 5 minutes ago
    %p.meta Wednesday, May 16, 2012 | 6:50 p.m. CDT

  %p JEFFERSON CITY — A state Senate candidate from St. Louis plans to fight a judge's decision removing her from the ballot because she doesn't live in the district.

  %p 
    Missouri House member 
    %a(href="") 
      Jamilah Nasheed
    has filed to challenge Sen. Robin Wright-Jones in the Democratic primary from the 5th Senate District.

  %ul
    %li Lists can have several elements
    %li Each element should be approximately sentence length
    %li And that will probably be suffucient for demonstration purposes

  %p The 5th District was redrawn this year to take in part of the 4th District, though not the area where Nasheed lives. But Nasheed argues that because part of the 4th District was affected, she should be able to run in the 5th District.

  %blockquote
    Come, let us hasten to a higher plane
    Where dyads tread the fairy fields of Venn,
    Their indices bedecked from one to n
    Commingled in an endless Markov chain!

  %p The St. Louis Post-Dispatch reported that St. Louis Circuit Judge Joan Moriarty rejected that argument Wednesday. The judge said Nasheed's reasoning could allow candidates to run in multiple districts.

.navigation
  .pages
    %a(href="") « Newer
    %a.jump_page(href="") 1
    %span.current_page 2
    %a.jump_page(href="") 3
    %a.jump_page(href="") 4
    %a.jump_page(href="") 5
    %a.jump_page(href="") 6
    %a.jump_page(href="") 7
    %a(href="") Older »
%gcse:searchbox-only