%html
  %head
    %title= "{Title}"
    %link(href='http://fonts.googleapis.com/css?family=Alegreya:400italic,400,700|Alegreya+SC' rel='stylesheet' type='text/css')
    %link(type="text/css" rel="stylesheet" media="screen" href="/assets/tumblr.css")
    %script(charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js")
    %script(charset="utf-8" src="/assets/application.js")    
    %script="POV.host = 'http://localhost:9292'" if ENV['RACK_ENV']=="development"

  %body
    #layout
      #header
        #masthead
          %a(href='/')
            %img(src='http://knowtheory.net/assets/tumblr-mockup.png')
            %h1
              Project OpenVault
              %p.meta Election coverage for Mid-Missouri
        #aggregate
          %p#total_runtime
            %span.value Loading...
            %span.description Minutes of ads run

          %p#total_spent
            %span.value Loading...
            %span.description Spent on ads

      #interactives
        #spending
          .navigation
          .content
      #main
        %h2 Election News &amp; Analysis
        #posts=yield
      #side-bar
        #question
          %h2 Election Conversation
          %iframe#question-box(src="/questions/1")
        #twitter
          %h2
            Twitter
            %span #midmovotes
            %script
              new TWTR.Widget({            |
                version: 2,                |
                type: 'search',            |
                search: '#midmovotes',     |
                interval: 30000,           |
                title: '',                 |
                subject: '',               |
                width: 250,                |
                height: 300,               |
                theme: {                   |
                  shell: {                 |
                    background: '#8ec1da', |
                    color: '#ffffff'       |
                  },                       |
                  tweets: {                |
                    background: '#ffffff', |
                    color: '#444444',      |
                    links: '#1985b5'       |
                  }                        |
                },                         |
                features: {                |
                  scrollbar: false,        |
                  loop: true,              |
                  live: true,              |
                  behavior: 'default'      |
                }                          |
              }).render().start();

      #footer
        .logos
        %a{:href => "http://www.columbiamissourian.com/"}
          %img.logos{:src => "http://knowtheory.net/assets/logos/the%20Missourian50px.jpeg"}
        %a{:href => "http://www.kbia.org"}
          %img.logos{:src => "http://knowtheory.net/assets/logos/kbia50px.jpeg"}
        %a{:href=> "http://www.komu.com"}
          %img.logos{:src => "http://knowtheory.net/assets/logos/KOMUnews50px.jpeg"}

        #colophon
          %p Copyright 2012 Board of Curators, University of Missouri
          %p Icons Copyright <a href="http://entypo.com/">Entypo</a> via <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA</a>
        %p.line