%html
  %head
    %title= "{Title}"
    %link(href='http://fonts.googleapis.com/css?family=Alegreya:400italic,400,700|Alegreya+SC' rel='stylesheet' type='text/css')
    %link(type="text/css" rel="stylesheet" media="screen" href="/assets/mockup.css")
    %script(charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js")
    %script(charset="utf-8" src="/assets/lib/jquery-1.7.2.min.js")
    %script(charset="utf-8" src="/assets/lib/underscore-1.3.3.js")
    %script(charset="utf-8" src="/assets/lib/backbone-0.9.2.js")
    %script(charset="utf-8" src="/assets/initialize.js")    
    %script(charset="utf-8" src="/assets/models/buy.js")
    %script(charset="utf-8" src="/assets/models/candidate.js")
    %script(charset="utf-8" src="/assets/views/interactives/spending_badge.js")
    %script(charset="utf-8" src="/assets/views/interactives/committee.js")
    %script(charset="utf-8" src="/assets/pov.js")    
  %body
    #layout
      #header
        #masthead
          %h1
            %img(src='http://knowtheory.net/assets/tumblr-mockup.png')
            Project OpenVault
          %p.meta Election coverage for Mid-Missouri
        #aggregate
          %p#total_runtime
            %span.value
            %span.description Of ads run

          %p#total_spent
            %span.value
            %span.description Spent on ads

      #interactives
        .navigation
          %p.title Total Spending
          .facets
            %span.active Candidates
            %span Committee
            %span Office
        .content
          .badges
            .badge
              %img.headshot(src='/assets/peter-kinder_headshot.jpg')
              .info
                %p.name Peter Kinder
                %p.office for Lt. Governor
                %p.dollars-spent $28,245
            .badge
              %img.headshot(src='/assets/claire-mccaskill_headshot.jpg')
              .info
                %p.name Claire McCaskill
                %p.office for U.S. Senate
                %p.dollars-spent $191,536
            .badge
              %img.headshot(src='/assets/john-brunner_headshot.jpg')
              .info
                %p.name John Brunner
                %p.office for U.S. Senate
                %p.dollars-spent $146,975
            .badge
              %img.headshot(src='/assets/sarah-steelman_headshot.jpg')
              .info
                %p.name Sarah Steelman
                %p.office for U.S. Senate
                %p.dollars-spent $47,020
            .badge
              %img.headshot()
              .info
                %p.name Candidate
                %p.office for U.S. House District 4
                %p.dollars-spent $191,536
            .badge
              %img.headshot()
              .info
                %p.name Candidate
                %p.office for U.S. Senate
                %p.dollars-spent $191,536
      
      #main
        %h2 Election News &amp; Analysis
        #posts=yield


      #side-bar
        #question
          %h2 Let Us Know
          /Question
          %h3 How Awesome is Carolyn?
          #response
            %form{:action => "https://docs.google.com/spreadsheet/formResponse?formkey=dEhya3FHb0lGMFdNb2FLb1RHZjBTcUE6MQ", :method => "post", :onsubmit => "submitted=true;", :target => "hidden_iframe"}
              %br
                .errorbox-good
                  .ss-item.ss-radio
                    .ss-form-entry
                    / The easiest way to change the question, as far as I can figure out, is to add the question to the form, view the code and copy the code starting at the 'label class="ss-q-title"...' point through to the last /li.  You then have to also change something later on.  I marked that part with a comment too
                    %label.ss-q-title{:for => "entry_0"}
                      %label.ss-q-help{:for => "entry_0"}               
                        %ul.ss-choices
                          %li.ss-choice-item
                            %label.ss-choice-label
                              %input#group_0_1.ss-q-radio{:name => "entry.0.group", :type => "radio", :value => "Very"}
                                Very
                          %li.ss-choice-item
                          %label.ss-choice-label
                            %input#group_0_2.ss-q-radio{:name => "entry.0.group", :type => "radio", :value => "Extremely"}
                              Extremely
                          %li.ss-choice-item
                          %label.ss-choice-label
                            %input#group_0_3.ss-q-radio{:name => "entry.0.group", :type => "radio", :value => "Awesomely awesome"}
                              Awesomely awesome
                          %li.ss-choice-item
                          %label.ss-choice-label
                            %input#group_0_4.ss-q-radio{:name => "entry.0.group", :type => "radio", :value => "Bah hum bug"}
                              Bah hum bug

                      %br
                        .errorbox-good
                          .ss-item.ss-text
                            .ss-form-entry
                              %label.ss-q-title{:for => "entry_3"}
                              Comments
                              %label.ss-q-help{:for => "entry_3"}
                              %input#entry_3.ss-q-short{:name => "entry.3.single", :type => "text", :value => ""}
                        %br
                          %input{:name => "pageNumber", :type => "hidden", :value => "0"}
                            %input{:name => "backupCache", :type => "hidden", :value => ""}
                              .ss-item.ss-navigate
                                .ss-form-entry
                                  %input{:name => "submit", :type => "submit", :value => "Submit"}

            

        #twitter
          %h2
            Twitter
            %span #midmovotes
            %script
              new TWTR.Widget({            |
                version: 2,                |
                type: 'search',            |
                search: '#midmovotes',     |
                interval: 30000,           |
                title: '',                 |
                subject: '',               |
                width: 250,                |
                height: 300,               |
                theme: {                   |
                  shell: {                 |
                    background: '#8ec1da', |
                    color: '#ffffff'       |
                  },                       |
                  tweets: {                |
                    background: '#ffffff', |
                    color: '#444444',      |
                    links: '#1985b5'       |
                  }                        |
                },                         |
                features: {                |
                  scrollbar: false,        |
                  loop: true,              |
                  live: true,              |
                  behavior: 'default'      |
                }                          |
              }).render().start();

      #footer
        #colophon
          %p Copyright etc
