%html
  %head
    %title= (title ||= "Project Open Vault")
    %link(href='http://fonts.googleapis.com/css?family=Alegreya:400italic,400,700|Alegreya+SC' rel='stylesheet' type='text/css')
    %link(type="text/css" rel="stylesheet" media="screen" href="/assets/tumblr.css")
    %script(charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js")
    %script(charset="utf-8" src="/assets/application.js")    
    %script="POV.host = 'http://localhost:9292'" if ENV['RACK_ENV']=="development"

  %body
    #layout
      #header
        #masthead
          %a(href='/')
            %img(src='http://data.projectopenvault.com/assets/tumblr-mockup.png')
            %h1
              Project OpenVault
              %p.meta Election coverage for Mid-Missouri
        #aggregate
          %p#total_runtime
            %span.value Loading...
            %span.description Minutes of ads run

          %p#total_spent
            %span.value Loading...
            %span.description Spent on ads
        #navigation
          %a{:href => "http://projectopenvault.com/about" } About
          %a{:href => "http://projectopenvault.com/staff" } Staff

      #interactives
        #spending
          .navigation
          .content
      #main
        %h2 Election News &amp; Analysis
        #posts=yield
      #side-bar
        #question
          %h2 Election Conversation
          %iframe#question-box(src="/questions/1")
        #twitter
          %h2
            Twitter
            %span #midmovotes
            %a(class="twitter-timeline" data-dnt=true href="https://twitter.com/search?q=%23midmovotes" data-widget-id="252836884701659137")Tweets about "#midmovotes"
            %script
              :plain
                !function(d,s,id) { 
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if(!d.getElementById(id)) {
                   js = d.createElement(s);
                   js.id = id;
                   js.src = "//platform.twitter.com/widgets.js";
                   fjs.parentNode.insertBefore(js,fjs);
                  }
                }(document,"script","twitter-wjs");

      #footer
        .logos
        %a{:href => "http://www.columbiamissourian.com/"}
          %img.logos{:src => "http://data.projectopenvault.com/assets/logos/the%20Missourian50px.jpeg"}
        %a{:href => "http://www.kbia.org"}
          %img.logos{:src => "http://data.projectopenvault.com/assets/logos/kbia50px.jpeg"}
        %a{:href=> "http://www.komu.com"}
          %img.logos{:src => "http://data.projectopenvault.com/assets/logos/KOMUnews50px.jpeg"}

        #colophon
          %p Copyright 2012 Board of Curators, University of Missouri
          %p Icons Copyright <a href="http://entypo.com/">Entypo</a> via <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA</a>
        %p.line