%html
  %head
    %link(href='http://fonts.googleapis.com/css?family=Alegreya:400italic,400,700|Alegreya+SC' rel='stylesheet' type='text/css')
    %link(type="text/css" rel="stylesheet" media="screen" href="/assets/common.css")
    %link(type="text/css" rel="stylesheet" media="screen" href="/assets/details.css")
    %script(src="/assets/candidates.js")
  %body
    #layout
      #header
        #masthead
          %a(href='/')
            %img(src='http://knowtheory.net/assets/tumblr-mockup.png')
            %h1
              Project OpenVault
              %p.meta Election coverage for Mid-Missouri
        #aggregate
          %p#total_runtime
            %span.value Loading...
            %span.description Minutes of ads run

          %p#total_spent
            %span.value Loading...
            %span.description Spent on ads
      #main=yield
      #footer