%html
  %head
    %link(type="text/css" rel="stylesheet" media="screen" href="/assets/common.css")
    %link(type="text/css" rel="stylesheet" media="screen" href="/assets/details.css")
    %script(src="/assets/table_display.js")
    %script="POV.host = 'http://localhost:9292'" if ENV['RACK_ENV']=="development"
  %body
    #layout
      #header
        #masthead
          %a(href='/')
            %img(src='/assets/tumblr-mockup.png')
            %h1
              Project OpenVault
              %p.meta Election coverage for Mid-Missouri
        #aggregate
          %p#total_runtime
            %span.value Loading...
            %span.description Minutes of ads run

          %p#total_spent
            %span.value Loading...
            %span.description Spent on ads
      #main=yield
      #footer