$gutter-width: 30px
$header-gutter-width: 20px
$smallcaps: 'Alegreya SC'

/* LAYOUT */
#layout
  h2
    font-size: 20pt
    font-weight: bold
    color: #395A8E
    border-bottom: 1px solid #C7C7C7
    padding-bottom: 20px
    margin: 20px 0px

  #main
    margin-left: $gutter-width
    width: 590px
    float: left
    
    ul
      margin: 1em
      padding-left: 1em

    blockquote
      margin: 1em
      padding-left: 1em
      border-left: 0.5em solid #E7E7E7
      font-style: italic
    
    #posts
      .navigation
        width: 100%
        float: left
        clear: both
        .pages
          margin-left: 15px
          float: left
          a, span
            font-size: 16pt
        form.search
          margin-right: 15px
          float: right
      
      .post
        clear: both
        border-bottom: 1px dashed #C7C7C7
        margin-bottom: 30px
        padding-bottom: 30px
        h3
          font-size: 24pt
          a
            font-size: 24pt
            text-decoration: none
            color: black
          a:hover
            text-decoration: underline
        p
          line-height: 1.25
          margin-bottom: 1em

        p.meta
          font-family: $smallcaps


  #side-bar
    margin-right: $gutter-width
    width: 280px
    float: right
