*
  font-size: 16px
  font-weight: normal
  line-height: 1
  padding: 0
  margin: 0

body
  font-family: 'Alegreya', serif
  background: #F1F1F1

$gutter-width: 30px
$header-gutter-width: 20px
$smallcaps: 'Alegreya SC'

/* LAYOUT */
#layout
  border: 1px solid #D6D6D6
  border-top-width: 0
  background: white
  margin: 0 auto
  width: 960px

  #header
    padding-top: 15px
    #masthead
      float: left
      margin-left: $header-gutter-width
      font-family: $smallcaps
      a
        text-decoration: none
        img
          margin-top: 10px
          width: 61px
          height: 48px
          float: left
        h1
          vertical-align: top
          font-size: 36pt
          width: 480px
          p.meta
            float: left
            font-size: 14pt
            padding-bottom: 10px
      a:visited
        color: black

    #aggregate
      float: right

      p
        float: left
        margin-right: $header-gutter-width

      span.value
        font-size: 28pt
      span
        display: block
        font-size: 16pt
        font-family: $smallcaps
      
  #interactives
    float: left
    clear: both
    width: 100%
    border-bottom: 5px solid #EFF3FD
    moz-box-shadow: 0px 5px 0px #002b7a
    webkit-box-shadow: 0px 5px 0px #002b7a
    box-shadow: 0px 5px 0px #002b7a
    behavior: url(ie-css3.htc)
    margin-bottom: 20px

    .navigation
      width: 920px
      margin-left: $header-gutter-width
      margin-right: $header-gutter-width
      float: left
      clear: both
      border-top: 1px solid #C7C7C7
      border-bottom: 1px solid #C7C7C7
      .title
        float: left
        font-family: $smallcaps
        font-size: 16pt
        width: 250px
        padding: 5px 80px 6px 0px
      .facets
        font-family: $smallcaps
        span
          display: inline-block
          padding: 5px
          margin-top: 5px
          cursor: pointer
          
        $tab-radius: 3px
        span
          border-left: 1px solid white
          border-right: 1px solid white
        span.active
          background-color: white
          margin-bottom: -1px
          border: 1px solid #C7C7C7
          border-bottom: 1px solid white
          border-top-left-radius: $tab-radius
          border-top-right-radius: $tab-radius
    .content
      margin: $header-gutter-width
      float: left
      .badges
        clear: right
        .badge
          float: left
          img
            width: 84px
            height: 84px
            margin: 4px
            border: 1px solid #C7C7C7
            float: left
          .info
            float: left
            width: 200px
            margin-top: 5px
            p
              font-size: 16pt
            p.name
              font-weight: bold
            p.office
              font-family: $smallcaps
              font-size: 12pt
            p.dollars-spent
              font-family: 'Helvetica'
              font-weight: bold
              font-size: 24pt
      .pagination
        clear: both
        float: left

  h2
    font-size: 20pt
    font-weight: bold
    color: #395A8E
    border-bottom: 1px solid #C7C7C7
    padding-bottom: 10px
    margin-bottom: 20px

  #main
    margin-left: $gutter-width
    width: 590px
    float: left
    
    ul
      margin: 1em
      padding-left: 1em

    blockquote
      margin: 1em
      padding-left: 1em
      border-left: 0.5em solid #E7E7E7
      font-style: italic
    
    #posts
      .post
        border-bottom: 1px dashed #C7C7C7
        margin-bottom: 20px
        h3
          font-size: 24pt
          a
            font-size: 24pt
            text-decoration: none
            color: black
          a:hover
            text-decoration: underline
        p
          line-height: 1.25
          margin-bottom: 1em

        p.meta
          font-family: smallcaps


  #side-bar
    margin-right: $gutter-width
    width: 280px
    float: right

    #question
      h3
        font-style: italic
        font-size: 24pt
      label
        display: block
        margin: 10px
      textarea
        margin: 0 0 10px 10px
 
  
  #footer
    width: 100%
    clear: both

    #navigation    
    margin-bottom: 20px
    a 
      font-size: 18pt
      text-decoration: none
      color: black
    a:hover
      text-decoration: underline
    span
      font-size: 12pt
      text-decoration: none
      color: black
    a.pagenumber 
      font-size: 12pt
      text-decoration: none
      color: black
    a.pagenumber:hover
      text-decoration: underline   
    p.line
      margin-top: 10px 
      border-bottom: 5px solid #002b7a

    .logos
      margin-top: 20px
      margin-bottom: 20px
      margin-left: $header-gutter-width
      margin-right: $header-gutter-width
      .image
        display: inline-block
        width: 100%
        img
          border: 5px solid white
          height: 5px
          float: left

    #colophon
      margin-top: 20px
      margin-bottom: 20px
      margin-left: $header-gutter-width
      margin-right: $header-gutter-width
      p
        font-size: 12pt

